$grey: #D8D8D8;
$blue: #6084D8;
$green: #68BFA3;
$purple: #D3B0FF;
$red: #BF6884;

body {
  font-family: 'Raleway', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
  box-sizing: border-box;
}

/***** Header and Nav *****/

.header {
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 200;
  background-color: #1F1F1F;
  a {
    color: $purple;
    font-size: 1.2em;
  }
  .logo {
    font-family: 'Abril Fatface', cursive;
    color: $grey;
    display: inline-block;
  }
  .account-info {
    display: inline-block;
    .account2 {
      margin-left: 0.1em;
    }
    .account1 {
      margin-right: 0.1em;
    }
  }
}

/***** Auth Form *****/

.auth-form {
  margin: 2em auto;
  width: 80%;
  padding: 3em;
  border: 1px solid $grey;
  border-radius: 6px;
  background-color: white;
  h3 {
    margin-top: 0;
  }
  .form-element {
    display: block;
    margin: 1em 0;
    input {
      width: 100%;
      height: 3em;
      border: 1px solid $blue;
      border-radius: 5px;
      padding-left: 0.5em;
    }
  }
}

.btn-primary {
  background-color: $blue;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1em;
  display: block;
}

/***** Homepage *****/

.jumbotron {
  width: 100%;
  height: 80vh;
  background-image: url("/img/intro-slide.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0;
  margin: 0;
  .jumbotron-text {
    position: absolute;
    top: 45vh;
    left: 5vw;
    width: 100%;
    line-height: 1.3em;
    span {
      color: #fff;
      background-color: rgba(42, 42, 42, 0.6);
      margin-top: 1em;
    }
  }

  .chevron {
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 50vw;
    width: 40px;
    height: auto;
  }
}

.about {
  background-color: $grey;
  color: black;
  padding: 2em 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}

.about-img {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 950px) {
  .jumbotron {
    background-size: 100% auto;
  }
}


/***** Product *****/

.product-icon {
  text-align: center;
  margin-bottom: 3em;
  .img-container {
    width: 70vw;
    height: 70vw;
    overflow: hidden;
    margin: 0 auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  h4 {
    font-family: 'Abril Fatface', cursive;
  }

}
