$grey: #96919B;
$blue: #6084D8;
$green: #68BFA3;
$purple: #7768BF;
$red: #BF6884;

body {
  font-family: 'Raleway', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
  box-sizing: border-box;
}

/***** Header and Nav *****/

.header {
  text-align: center;
  position: sticky;
  top: 10px; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
  a {
    color: $purple;
  }
  .logo {
    font-family: 'Abril Fatface', cursive;
    color: $grey;
    display: inline-block;
  }
  .account-info {
    display: inline-block;
    .account2 {
      margin-left: 0.1em;
    }
    .account1 {
      margin-right: 0.1em;
    }
  }
}

/***** Auth Form *****/

.auth-form {
  margin: 2em auto;
  width: 80%;
  padding: 3em;
  border: 1px solid $grey;
  border-radius: 6px;
  background-color: white;
  h3 {
    margin-top: 0;
  }
  .form-element {
    display: block;
    margin: 1em 0;
    input {
      width: 100%;
      height: 3em;
      border: 1px solid $blue;
      border-radius: 5px;
      padding-left: 0.5em;
    }
  }
}

.btn-primary {
  background-color: $blue;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1em;
  display: block;
}
