$grey: #D8D8D8;
$lightgrey: #F0F0F0;
$blue: #6084D8;
$green: #68BFA3;
$purple: #D3B0FF;
$red: #BF6884;

body {
  font-family: 'Raleway', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 0.8em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
  box-sizing: border-box;
}

/***** Header and Nav *****/

.header {
  text-align: center;
  width: 100%;
  top: 0px;
  z-index: 200;
  background-color: #1F1F1F;
  a {
    color: $purple;
    font-size: 1.1em;
    margin: 0 0.5em 0.5em 0.5em;
  }
  .logo {
    font-family: 'Abril Fatface', cursive;
    color: $grey;
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
  }
  .account-info {
    display: inline-block;
    .account2 {
      margin-left: 0.1em;
    }
    .account1 {
      margin-right: 0.1em;
    }
  }
}

/***** Auth Form *****/

.auth-form {
  margin: 2em auto;
  width: 80%;
  padding: 3em;
  border: 1px solid $grey;
  border-radius: 6px;
  background-color: white;
  h3 {
    margin-top: 0;
  }
  .form-element {
    display: block;
    margin: 1em 0;
    input {
      width: 100%;
      height: 3em;
      border: 1px solid $blue;
      border-radius: 5px;
      padding-left: 0.5em;
    }
  }
}

.btn-primary {
  background-color: $blue;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1em;
  display: block;
}

/***** Homepage *****/

.jumbotron {
  width: 100%;
  height: 80vh;
  background-image: url("/img/intro-slide.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0;
  margin: 0;
  .jumbotron-text {
    position: absolute;
    top: 45vh;
    left: 5vw;
    line-height: 1.3em;
    span {
      color: #fff;
      background-color: rgba(42, 42, 42, 0.6);
      margin-top: 1em;
    }
    button {
      background-color: rgba(255, 255, 255, 0.6);
      border: none;
      border-radius: 6px;
      margin-top: 1rem;
      padding: 0.5em 1em;
      color: black;
      font-size: 1.5rem;
      a {
        color: black;
      }
    }

  }
  .chevron {
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 50vw;
    width: 40px;
    height: auto;
  }
}

@media (min-width: 950px) {
  .jumbotron {
    background-size: 100% auto;
  }
}

.about {
  .about-text {
    background-color: $grey;
    color: black;
    padding: 2em 2em;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .about-img {
    width: 100%;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }
}

.descriptor {
  text-align: center;
  padding: 1em 0;
  background-color: $lightgrey;
  .descriptor-container {
    padding: 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .descriptor-box {
      width: 33%;
    }
  }
}

.ingredients {
  text-align: center;
  color: white;
  height: 50vh;
  background-image: url("/img/wheat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .ingred-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 6px;
    padding: 0.5em 1em;
    color: black;
  }

}



/***** Category *****/
.cat-description {
  text-align: center;
  padding: 2em 0;
  margin-bottom: 1em;
  h1 {
    margin: 0;
  }
}
.cat-header {
  margin: 1em;
}
.category {
  margin-bottom: 2em;
  position: relative;
  h1 {
    margin: 0.5em;
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0.5em;
  }
}
.cat-img {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .category {
    h1 {
      left: 15%;
    }
    .cat-img {
      width: 80vw;
      margin: 0 auto;
    }
  }

}
/***** Product *****/
.prod-description {
  padding: 2em 1em;
  margin-bottom: 1em;
  .img-container {
    width: 80vw;
    height: 80vw;
    overflow: hidden;
    margin: 0 auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  .prod-details {
    margin: 0 auto;
    width: 80%;
  }
  .title {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 1em;
  }
  .price {
    padding: 0;
    margin: 1em 0;
  }
  .cart-btn {
    background-color: $green;
    border: none;
    border-radius: 6px;
    padding: 0.5em 1em;
    color: white;
    margin: 1em 0;
  }
  .description {
    margin-bottom: 2em;
  }
  .form-element {
    margin: 0;
  }

}

@media (min-width: 550px) {
  .prod-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img-container {
      width: 50vw;
      height: 50vw;
    }
    .prod-details {
      width: 30vw;
    }
  }
}
@media (min-width: 1000px) {
  .prod-description {
    .img-container {
      width: 38vw;
      height: 38vw;
    }
  }
}


.prod-container {
  display: flex;
  flex-wrap: wrap;
}
.product-icon {
  text-align: center;
  padding-bottom: 3em;
  margin: 0 auto;
  .img-container {
    width: 70vw;
    height: 70vw;
    overflow: hidden;
    margin: 0 auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  h3 {
    font-family: 'Abril Fatface', cursive;
  }
}

@media (min-width: 950px) {
  .product-icon {
    padding: 0 2em;
    .img-container {
      width: 25vw;
      height: 25vw;
    }
  }
}
